@charset "utf-8";
/* CSS Document */
div {
    padding: 30px;
    background-color: pink;
    width: 400px;
    display: table;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: auto
}

span {
    vertical-align: middle;
    display: table-cell;
	align-content: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #F4B5C2;
	outline-color: #F87EA3;
	background-color: #EE316A;
}

body {
	background-image: url("../slike/fruits-apples-pattern-background-cartoons_24640-10457opacity.jpg")
}

a {
	align-content: center;
	text-align: center;
	margin: auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: palevioletred;
	background: #FFFFFF;
	border: 2px #EF487B dashed;
}
