@charset "utf-8";
/* CSS Document */

h1 {
	align-content: center;
	text-align: center;
	color: #EE316A;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 28;
	border: #EC5F61;
	 background-color: pink;
	margin: auto;
}

h3 {
	align-content: center;
	text-align: center;
	color: #EE316A;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 28;
	border: #EC5F61;
	 background-color: pink;
	margin: auto;
}

body {
	background-image: url("../slike/fruits-apples-pattern-background-cartoons_24640-10457opacity.jpg")
}



p {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: floralwhite;
	text-align: center;
	align-content: center;
}

a {
	align-content: center;
	text-align: center;
	margin: auto;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: palevioletred;
	background: #FFFFFF;
	border: 2px #EF487B dashed;
		
}

h4 {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: floralwhite;
	text-align: center;
	align-content: center;
	background: #EE316A
}

div {
    padding: 30px;
    background-color: pink;
    width: 400px;
    display: table;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: auto
}

span {
    vertical-align: middle;
    display: table-cell;
	align-content: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #F4B5C2;
	outline-color: #F87EA3;
	background-color: #EE316A;
}



	



.your-centered-div {
    max-width: 560px; 
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
}

.more{               
        width: 100%;
        text-align: center;        
        margin: 0;
        padding: 0;
     }

    
     



